<!-- Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" aria-labelledby="donateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thank you for clicking! 🎉</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Since I launched Find My Plane in February 2021, it has recorded over <b>100 million</b> datapoints for tens of thousands of flights. This is awesome, and I'm delighted that people find the tool useful! 😍</p>
                <p>I built FMP without a plan to monetise it: I know that Flight Simming is an expensive hobby and I just wanted to create something cool which would fill a need for me and others. This won't change. As long as it's around, Find My Plane will be free and open source.</p>
                <p>FMP is not expensive to run, but it's not entirely free either: <b>my server hosting costs run to around $15 a month</b>. If you feel you are able to contribute a dollar or two towards covering these running costs then please consider donating.</p>
                <center>
                    <h3><a class="btn btn-primary" href="https://buymeacoffee.com/hankhank10">Click here to donate</a></h3>
                </center>
                <br>
                <p>If you don't feel you're able to contribute then that's also totally cool: please enjoy the tool as my gift to you!</p>
                <p>Thanks for reading!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>