<!-- Modal -->
    <div class="modal fade" id="donateModal" tabindex="-1" aria-labelledby="donateModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thank you for clicking! 🇺🇦</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>At the heart of Find My Plane is an open-source library called <a href="https://leafletjs.com/" target="_blank">Leaflet.js</a> which provides all the mapping technology.</p>
                <p>Leaflet was developed 11 years ago by <a href="https://agafonkin.com/" target="_blank">Vladimir Agafonkin</a>, a Ukranian citizen living in Kyiv. As well as having devloped and maintained Leaflet and 40 other open source libraries, Vladimir is a father to 8 year old twin girls.</p>
                <p>Vladimir and his family are no longer in Kyiv, because Russian bombs are falling over the city. His family, his friends, his neighbours, thousands and thousands of absolutely wonderful people, are either seeking refuge or fighting for their lives.</p>
                <p>Please consider donating to the <a href="https://savelife.in.ua/en/donate/" target="_blank">"Come Back Alive"</a> charity or the <a href="https://donate.redcrossredcrescent.org/ua/donate/" target="_blank">Ukrainian Red Cross</a>.

                <center>
                    <h3><a class="btn btn-primary" href="https://donate.redcrossredcrescent.org/ua/donate/" target="_blank">Click here to donate</a></h3>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>