<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CRSVBM9X07"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CRSVBM9X07');
    </script>

    <!-- Hotjar Tracking Code for findmyplane.live -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:2211499,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

    <meta charset="UTF-8">
    <title>Find My Plane - view flight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover, user-scalable=no">

    <meta name="apple-mobile-web-app-title" content="Find My Plane">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">


    <!-- Bootstrap CSS-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Leaflet CSS and JS -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-rotatedmarker@0.2.0/leaflet.rotatedMarker.min.js"></script>
	<script src="/static/vendor/leaflet-providers/leaflet-providers.js"></script>
	<script src='https://unpkg.com/leaflet.marker.slideto@0.2.0/Leaflet.Marker.SlideTo.js'></script>

	<!-- Fontawesome JS-->
	<script src="https://kit.fontawesome.com/99043d701d.js" crossorigin="anonymous"></script>

	<!-- JQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- JQuery UI -->
	<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">

	<!-- Sweetalert2 -->
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <!-- Timeago -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/livestamp/1.1.2/livestamp.js" integrity="sha512-iI8K8K3jOTtAVphRhQ+i/SxVJnkk0C/TQv4MrMPATRuEHR3W4KvGAMe9tHeqFMOQ/jnd1cPDuq68VgK8ebW1VQ==" crossorigin="anonymous"></script>

	<!-- Microtip tooltips -->
	<link rel="stylesheet" href="https://unpkg.com/microtip/microtip.css">

    <!-- Set script root-->
	<script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>


    <style>
		html, body {
			height: 100vh;
			overflow: hidden;
			margin: 0;
			padding: 0;
		}
		body {
			display: flex;
			flex-direction: column;
		}
    </style>
    
</head>
<body>

<div class="container-fluid p-0" style="height: 100%; width: 100%;">  <!--Main container-->

    <!-- NAVBAR -->
	<nav class="navbar navbar-expand-md navbar-dark bg-dark navbar-fixed-top">
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="navbar-nav mr-auto">
				<button id=followModeButton class="btn btn-primary btn-sm" type="button" onclick="toggleFollowPlane()">
					<i class="fas fa-compass"></i> <span id=followMode>Moving map enabled</span>
                </button>
                &nbsp;
				<button id=showTrackButton class="btn btn-primary btn-sm" type="button" onclick="toggleShowTrack()">
					<i class="fas fa-location-arrow"></i> <span id=showTrackMode>Track history enabled</span>
                </button>
			</ul>
		</div>
		<div class="mx-auto order-0">
			<a class="navbar-brand mx-auto" href="https://findmyplane.live/">Find My Plane</a>
			
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item m-1">
					<a class="btn btn-success btn-sm" target="_blank" href="https://www.buymeacoffee.com/hankhank10" type="button" aria-label="This site is free to use, and *almost* free to run" data-microtip-position="left" role="tooltip"><i class="fas fa-beer"></i> Buy me a beer</a>
				</li>
            </ul>
        </div>
    </nav>

    <div class="row p-2" style="height: 80vh">
		<div class="col-sm-12 col-xl-12 no-gutters collapse show p-0" style="background-color: grey;" id="map_column" style="position: relative; height=100%;">
			<div id = "map" style = "height: 100%; width: 100%;"></div>
		</div>
    </div>

    <footer class="footer">
        <div class="container">
            <button type="button" id="btnIdent" class="btn btn-primary btn-sm">Ident <b>{{ ident_public_key }}</b></button>
            <button type="button" id="btnServerStatus" class="btn btn-warning btn-sm" aria-label="Connection to findmyplane server" data-microtip-position="right" role="tooltip"><i class="fas fa-server"></i> Connecting &nbsp <i class="fas fa-sync fa-spin"></i></button>
            <button type="button" id="btnPlaneStatus" class="btn btn-warning btn-sm" aria-label="Receiving data from your plane" data-microtip-position="right" role="tooltip"><i class="fas fa-plane"></i> Connecting &nbsp <i class="fas fa-sync fa-spin"></i></button>
            <button type="button" id="btnFBWTraffic" class="btn btn-warning btn-sm" aria-label="Traffic from fly-by-wire (capped at 100)" data-microtip-position="right" role="tooltip"><i class="fas fa-traffic-light"></i> Loading Fly By Wire traffic <i class="fas fa-sync fa-spin"></i></b></button>
            <button type="button" id="btnFMPTraffic" class="btn btn-warning btn-sm" aria-label="Traffic from FindMyPlane.live" data-microtip-position="right" role="tooltip"><i class="fas fa-traffic-light"></i> Loading Find My Plane traffic <i class="fas fa-sync fa-spin"></i></b></button>


            <button type="button" id="btnClearPathHistory" class="btn btn-danger btn-sm float-right" aria-label="Delete the historical path" data-microtip-position="left" role="tooltip" onclick="clearPathHistory()"><i class="fas fa-trash"></i> Delete path history</button>
            
            <br>
            <form class="form-inline" id="upload-file" method="post" enctype="multipart/form-data">
                <fieldset>
                    <label id="labelFlightPlan" class="btn btn-primary btn-sm mt-1" aria-label="Flight plan display status" data-microtip-position="right" role="tooltip">
                        <span id="spanFlightPlanLabel"><i class="fas fa-route"></i> <i class="fas fa-upload"></i> Upload flight plan in .PLN format</span> <input id="browseButton" name="file" type="file" hidden>
                    </label>
                    <!-- <input id="browseButton" name="file" type="file">-->
                </fieldset>
            </form>

        </div>
    </footer>

</div> <!-- Main container -->

<!-- Create map object -->
<script>

    let followPlane = true;
    let showTrack = true;
    let ident_public_key = '{{ ident_public_key }}';
    let showMyPlane = true;
    let source = '{{ source }}';

    zoom_level = 10

    if (ident_public_key === "WORLD") {
        showMyPlane = false;
        btnServerStatus.style.display = "none"
        btnPlaneStatus.style.display = "none";
        followModeButton.style.display = "none";
        showTrackButton.style.display = "none";
        btnClearPathHistory.style.display = "none";
        btnIdent.display = "none";
        $('#btnIdent').html ("Global view")
        zoom_level = 6
    }

    // Create map options
    var mapOptions = {
        center: [41.8601, -87.6101],
        zoom: zoom_level,
        dragging: true,
        worldCopyJump: true
    }

    // Creating a map object
    var map = new L.map('map', mapOptions);

    // Creating a Layer object
    var simple = new L.tileLayer.provider('CartoDB.Voyager');
    var openstreet = new L.tileLayer.provider('OpenStreetMap.Mapnik');
    var grayscale = new L.tileLayer.provider('CartoDB.Positron');
    var basic = new L.tileLayer.provider('Jawg.Terrain', {
        variant: '',
        accessToken: 'CQVU4GpEMHf6XeTxVy2x2zRCDJpr6zFX61tYzcs27Jeus4kfc9XBUNfz3mhPakJZ'
    });

    var openaip_cached_basemap = new L.TileLayer("http://{s}.tile.maps.openaip.net/geowebcache/service/tms/1.0.0/openaip_basemap@EPSG%3A900913@png/{z}/{x}/{y}.png", {
        maxZoom: 14,
        minZoom: 4,
        tms: true,
        detectRetina: true,
        subdomains: '12',
        format: 'image/png',
        transparent: true
    });

    // Adding layers to the map
    map.addLayer(basic);

    var baseLayers = {
        "Grayscale": grayscale,
        "Open Street": openstreet,
        "Pale": simple,
        "Default": basic,
    }
    var overlays = {
        "Aviation": openaip_cached_basemap
    }

    // Add control
    L.control.layers(baseLayers, overlays).addTo(map)

    // Icon options
    var myPlaneIconOptions = {
        iconUrl: '/static/img/plane-red.png',
        iconSize: [35, 35]
    }

    var otherPlaneIconOptions = {
        iconUrl: '/static/img/plane-grey.png',
        iconSize: [35, 35]
    }

    // Creating a custom icon
    var myPlaneIcon = L.icon({iconUrl: '/static/img/plane-red.png',iconSize: [35, 35]});
    var fmpPlaneIcon = L.icon({iconUrl: '/static/img/plane-blue.png',iconSize: [35, 35]});
    var otherPlaneIcon = L.icon({iconUrl: '/static/img/plane-grey.png', iconSize: [35, 35]});

    // Creating Marker Options
    var myPlaneMarkerOptions = {
        clickable: false,
        draggable: false,
        icon: myPlaneIcon,
        rotationAngle: 0,
        rotationOrigin: "center"
    }

    var FMPPlaneMarkerOptions = {
        clickable: true,
        draggable: false,
        icon: fmpPlaneIcon,
        rotationAngle: 0,
        rotationOrigin: "center"
    }

    var otherPlaneMarkerOptions = {
        clickable: true,
        draggable: false,
        icon: otherPlaneIcon,
        rotationAngle: 0,
        rotationOrigin: "center"
    }

    if (showMyPlane === true) {
        // Creating a Marker
        var marker = L.marker([17.438139, 78.395830], myPlaneMarkerOptions);

        // Adding marker to the map
        marker.addTo(map);

        // Create lines layer and add to the map
        var lineLayerGroup = new L.layerGroup();
        map.addLayer(lineLayerGroup);
    }

    // Create route layer and add to the map
    var flightplanLayerGroup = new L.layerGroup();
    map.addLayer(flightplanLayerGroup);

    // Create traffic layers and add to the map
    // Fly By Wire
    var flybywireTrafficLayerGroup = new L.layerGroup();
    map.addLayer(flybywireTrafficLayerGroup);

    var findmyplaneTrafficLayerGroup = new L.layerGroup();
    map.addLayer(findmyplaneTrafficLayerGroup)

</script>

<script src="/static/js/custom/uploadFlightPlan.js"></script>

<script src="/static/js/custom/getSimData.js"></script>


</body>
</html>